h1 Overview
blockquote This web app is designed to help students taking computer science courses to visualize and trace through algorithms. Here is a list of algorithms that are planned to be implemented.

h3 Sorting
ul.list-unstyled
    li.list-group-item Bubble sort
    li.list-group-item Selection sort
    li.list-group-item Insertion sort
    li.list-group-item Merge sort
    li.list-group-item Quicksort
    li.list-group-item Counting sort
    li.list-group-item Radix sort

h3 Hashing
ul.list-unstyled
    li.list-group-item Direct addressing
    li.list-group-item Chaining
    li.list-group-item Double hashing
    li.list-group-item Cuckoo hashing
    li.list-group-item Extendible hashing

h3 String Matching
ul.list-unstyled
    li.list-group-item Brute force
    li.list-group-item KMP
    li.list-group-item Boyer Moore

h3 Compression
ul.list-unstyled
    li.list-group-item Run-Length Encoding
    li.list-group-item Huffman Coding
    li.list-group-item Move-to-Front
    li.list-group-item LZW
    li.list-group-item BWT

.alert.alert-info(role="alert") Other data structures and algorithms such as binary trees, balanced binary trees, heaps, etc. may also be implemented in the future.
